## Coding project

In [1]:
install.packages('dplyr')
install.packages('ggplot2')
install.packages('dslabs')

Installing package into ‘/usr/local/spark-3.5.3-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/spark-3.5.3-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/spark-3.5.3-bin-hadoop3/R/lib’
(as ‘lib’ is unspecified)

In [2]:
library(dslabs)
library(ggplot2)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
# making a variable of each table for denmark
D052020 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2020-W05.csv")
D222020 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2020-W22.csv")
D402020 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2020-W40.csv")
D042021 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2021-W04.csv")
D212021 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2021-W21.csv")
D392021 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2021-W39.csv")
D042022 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2022-W04.csv")
D212022 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2022-W21.csv")
D392022 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2022-W39.csv")
D042023 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2023-W04.csv")
D222023 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2023-W22.csv")
D392023 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2023-W39.csv")
D052024 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2024-W05.csv")
D222024 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2024-W22.csv")
D392024 <- read.csv("/work/CulturalDataScience/DanmarkData/Danmark Top Songs - 2024-W39.csv")

In [4]:
# adding column with weekname
D052020 <- data.frame(append(D052020, c(Time='05-2020'), after=1))
D222020 <- data.frame(append(D222020, c(Time='22-2020'), after=1))
D402020 <- data.frame(append(D402020, c(Time='40-2020'), after=1))
D042021 <- data.frame(append(D042021, c(Time='04-2021'), after=1))
D212021 <- data.frame(append(D212021, c(Time='21-2021'), after=1))
D392021 <- data.frame(append(D392021, c(Time='39-2021'), after=1))
D042022 <- data.frame(append(D042022, c(Time='04-2022'), after=1))
D212022 <- data.frame(append(D212022, c(Time='21-2022'), after=1))
D392022 <- data.frame(append(D392022, c(Time='39-2022'), after=1))
D042023 <- data.frame(append(D042023, c(Time='04-2023'), after=1))
D222023 <- data.frame(append(D222023, c(Time='22-2023'), after=1))
D392023 <- data.frame(append(D392023, c(Time='39-2023'), after=1))
D052024 <- data.frame(append(D052024, c(Time='05-2024'), after=1))
D222024 <- data.frame(append(D222024, c(Time='22-2024'), after=1))
D392024 <- data.frame(append(D392024, c(Time='39-2024'), after=1))

In [9]:
#Bind all the dataframes into one dataframe
Danmark <- rbind(D052020, D222020, D402020, D042021,D212021,D392021,D042022,D212022,D392022,D042023,D222023,D392023,D052024,D222024,D392024)

In [18]:
#Checking column names
str(Danmark)

'data.frame':	1501 obs. of  13 variables:
 $ Position                        : chr  "1" "2" "3" "4" ...
 $ Time                            : chr  "05-2020" "05-2020" "05-2020" "05-2020" ...
 $ Up.or.Down                      : chr  "up" "up" "up" "up" ...
 $ Artist                          : chr  "The Weeknd" "Billie Eilish" "Tones and I" "Roddy Ricch" ...
 $ Song                            : chr  "Blinding Lights" "everything i wanted" "Dance Monkey" "The Box" ...
 $ Last.Week                       : chr  "1" "7" "3" "4" ...
 $ Peak.Position                   : int  1 2 1 4 2 3 2 1 2 8 ...
 $ Weeks.on.Chart                  : int  10 12 13 5 3 13 13 4 5 7 ...
 $ Global.Chart.Debut              : int  94 53 6 91 84 5 19 86 86 NA ...
 $ Week.GC                         : chr  "2019-12-01" "2019-11-17" "2019-10-06" "2019-12-08" ...
 $ Highest.Position.in.Global.Chart: int  1 3 1 2 12 5 3 6 3 NA ...
 $ Week.HP                         : chr  "2020-03-01" "2019-11-24" "2019-11-10" "2020-02-16" ...
 $ Gender                          : int  2 1 1 2 2 1 1 2 2 2 ...

In [21]:
#Removing unwanted columns
Danmark2 = select(Danmark, -Up.or.Down:-Week.HP)
head(Danmark2)

  Position Time    Gender
1 1        05-2020 2
2 2        05-2020 1
3 3        05-2020 1
4 4        05-2020 2
5 5        05-2020 2
6 6        05-2020 1

In [6]:
# making a variable of each table for norway
N052020 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2020-W05.csv")
N222020 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2020-W22.csv")
N402020 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2020-W40.csv")
N042021 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2021-W04.csv")
N212021 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2021-W21.csv")
N392021 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2021-W39.csv")
N042022 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2022-W04.csv")
N212022 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2022-W21.csv")
N392022 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2022-W39.csv")
N042023 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2023-W04.csv")
N222023 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2023-W22.csv")
N392023 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2023-W39.csv")
N052024 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2024-W05.csv")
N222024 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2024-W22.csv")
N392024 <- read.csv("/work/CulturalDataScience/Norge Data/Norge Top Songs - 2024-W39.csv")

In [7]:
# add column with week name
N052020 <- data.frame(append(N052020, c(Time='05-2020'), after=1))
N222020 <- data.frame(append(N222020, c(Time='22-2020'), after=1))
N402020 <- data.frame(append(N402020, c(Time='40-2020'), after=1))
N042021 <- data.frame(append(N042021, c(Time='04-2021'), after=1))
N212021 <- data.frame(append(N212021, c(Time='21-2021'), after=1))
N392021 <- data.frame(append(N392021, c(Time='39-2021'), after=1))
N042022 <- data.frame(append(N042022, c(Time='04-2022'), after=1))
N212022 <- data.frame(append(N212022, c(Time='21-2022'), after=1))
N392022 <- data.frame(append(N392022, c(Time='39-2022'), after=1))
N042023 <- data.frame(append(N042023, c(Time='04-2023'), after=1))
N222023 <- data.frame(append(N222023, c(Time='22-2023'), after=1))
N392023 <- data.frame(append(N392023, c(Time='39-2023'), after=1))
N052024 <- data.frame(append(N052024, c(Time='05-2024'), after=1))
N222024 <- data.frame(append(N222024, c(Time='22-2024'), after=1))
N392024 <- data.frame(append(N392024, c(Time='39-2024'), after=1))

In [22]:
#Binding dataframes together

Norge <- rbind(N052020, N222020, N402020, N042021,N212021,N392021,N042022,N212022,N392022,N042023,N222023,N392023,N052024,N222024,N392024)

In [23]:
#Checking
str(Norge)

'data.frame':	1501 obs. of  13 variables:
 $ Position                        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Time                            : chr  "05-2020" "05-2020" "05-2020" "05-2020" ...
 $ Up.or.Down                      : chr  "up" "up" "up" "up" ...
 $ Artist                          : chr  "The Weeknd" "Herman Flesvig" "Eminem" "Billie Eilish" ...
 $ Song                            : chr  "Blinding Lights" "Haugenstua" "Godzilla (feat. Juice WRLD)" "everything i wanted" ...
 $ Last.Week                       : chr  "1" "2" "3" "6" ...
 $ Peak.Position                   : chr  "1" "1" "3" "1" ...
 $ Weeks.on.Chart                  : int  10 3 3 12 13 8 13 13 13 4 ...
 $ Global.Chart.Debut              : int  94 NA 84 53 6 91 19 5 4 86 ...
 $ Week.GC                         : chr  "2019-12-01" "" "2020-01-19" "2019-11-17" ...
 $ Highest.Position.in.Global.Chart: int  1 NA 12 3 1 2 3 5 4 6 ...
 $ Week.HP                         : chr  "2020-03-01" "" "2020-01-26" "2019-11-24" ...
 $ Gender                          : int  2 2 2 1 1 2 1 1 2 2 ...

In [24]:
#Removing unwanted columns
Norge2 = select(Norge, -Up.or.Down:-Week.HP)
head(Norge2)

  Position Time    Gender
1 1        05-2020 2
2 2        05-2020 2
3 3        05-2020 2
4 4        05-2020 1
5 5        05-2020 1
6 6        05-2020 2