# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [2]:
# Starter code...

%pip install lxml
import pandas as pd
import statistics as stat

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 23.5 MB/s eta 0:00:0000:01
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
df_physical = rawdata[0]
df_physical['Media']= "Physical"
df_physical

,Artist,Single,Released,Sales (in millions),Source,Media
0,Bing Crosby,"""White Christmas""",1942,50,[1],Physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],Physical
2,Bing Crosby,"""Silent Night""",1935,30,[2],Physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],Physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],Physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6][7],Physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[8][9],Physical
7,USA for Africa,"""We Are the World""",1985,20,[10],Physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[11],Physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[12],Physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[13],Physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[14],Physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[15],Physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[16],Physical

In [12]:
df_digital=rawdata[3]
df_digital['Media']="Digital"
df_digital

,Artist,Single,Released,Sales (in millions),Source,Media
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[47][48],Digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[47][48],Digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[49],Digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[47][48],Digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[47][48],Digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[50],Digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[51][47],Digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[52][53][54],Digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[50],Digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[55],Digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[50],Digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[47][48],Digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[55],Digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[56],Digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],[57],Digital
15,Adele,"""Someone Like You""",2011,17.0,[58],Digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[49],Digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[55],Digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[59],Digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[60][61],Digital
20,Drake,"""God's Plan""",2018,15.3[a],[48],Digital

In [13]:
#combining them
df_combined = pd.concat([df_physical,df_digital])
df_combined

,Artist,Single,Released,Sales (in millions),Source,Media
0,Bing Crosby,"""White Christmas""",1942,50,[1],Physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],Physical
2,Bing Crosby,"""Silent Night""",1935,30,[2],Physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],Physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],Physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6][7],Physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[8][9],Physical
7,USA for Africa,"""We Are the World""",1985,20,[10],Physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[11],Physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[12],Physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[13],Physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[14],Physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[15],Physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[16],Physical
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[47][48],Digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[47][48],Digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[49],Digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[47][48],Digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[47][48],Digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[50],Digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[51][47],Digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[52][53][54],Digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[50],Digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[55],Digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[50],Digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[47][48],Digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[55],Digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[56],Digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],[57],Digital
15,Adele,"""Someone Like You""",2011,17.0,[58],Digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[49],Digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[55],Digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[59],Digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[60][61],Digital
20,Drake,"""God's Plan""",2018,15.3[a],[48],Digital

In [14]:
#Artist and single name for closest year to when I was born
birth = df_combined[df_combined['Released']==2008] 
birth[['Artist', 'Single']]

          Artist        Single
14  Taylor Swift  "Love Story"

In [15]:
#Artist and single for year when I turned 15
birth = df_combined[df_combined['Released']==2015] 
birth[['Artist', 'Single']]

                                Artist               Single
5   Wiz Khalifa featuring Charlie Puth      "See You Again"
8     Mark Ronson featuring Bruno Mars        "Uptown Funk"
10                          Ed Sheeran  "Thinking Out Loud"

In [16]:
a = list(df_combined['Artist'])
b = list(df_combined['Single'])
c = list(df_combined['Released'])
task3=list(zip(a,b,c))

In [17]:
#task3 - all of these solutions do not work

In [18]:
yearborn = [('Bing Crosby', '"White Christmas"', 1942),
 ('Elton John',
  '"Something About the Way You Look Tonight"/"Candle in the Wind 1997"',
  1997),
 ('Bing Crosby', '"Silent Night"', 1935),
 ('Tino Rossi', '"Petit Papa Noël"', 1946),
 ('Bill Haley & His Comets', '"Rock Around the Clock"', 1954),
 ('Whitney Houston', '"I Will Always Love You"', 1992),
 ('Elvis Presley', '"It\'s Now or Never"', 1960),
 ('USA for Africa', '"We Are the World"', 1985),
 ('The Ink Spots', '"If I Didn\'t Care"', 1939),
 ('Celine Dion', '"My Heart Will Go On"', 1997),
 ('Mariah Carey', '"All I Want For Christmas Is You"', 1994),
 ('Baccara', '"Yes Sir, I Can Boogie"', 1977),
 ('Bryan Adams', '"(Everything I Do) I Do It for You"', 1991),
 ('John Travolta and Olivia Newton-John',
  '"You\'re the One That I Want"',
  1978),
 ('Ed Sheeran', '"Shape of You"', 2017),
 ('Luis Fonsi featuring Daddy Yankee', '"Despacito"', 2017),
 ('Rihanna featuring Drake', '"Work"', 2016),
 ('The Chainsmokers and Coldplay', '"Something Just Like This"', 2017),
 ('Ed Sheeran', '"Perfect"', 2017),
 ('Wiz Khalifa featuring Charlie Puth', '"See You Again"', 2015),
 ('The Chainsmokers featuring Halsey', '"Closer"', 2016),
 ('Adele', '"Rolling in the Deep"', 2011),
 ('Mark Ronson featuring Bruno Mars', '"Uptown Funk"', 2015),
 ('Billie Eilish', '"Bad Guy"', 2019),
 ('Ed Sheeran', '"Thinking Out Loud"', 2015),
 ('Camila Cabello featuring Young Thug', '"Havana"', 2017),
 ('Lil Nas X', '"Old Town Road"', 2018),
 ('Carly Rae Jepsen', '"Call Me Maybe"', 2011),
 ('Taylor Swift', '"Love Story"', 2008),
 ('Adele', '"Someone Like You"', 2011),
 ('Rihanna', '"Needed Me"', 2016),
 ('Shawn Mendes and Camila Cabello', '"Señorita"', 2019),
 ('Imagine Dragons', '"Radioactive"', 2012),
 ('Imagine Dragons', '"Believer"', 2017),
 ('Drake', '"God\'s Plan"', 2018)]
for hit in yearborn:
    if hit == '2008':
        print([0],[1],hit)
hit

('Drake', '"God\'s Plan"', 2018)

In [19]:
top_hits = dict(list(zip(a,b,c))

SyntaxError: incomplete input (3233572004.py, line 1)

In [ ]:
print([task3([0],[1],['2008']])

In [ ]:
value_to_find = '2008'
for item in zipped:
    if item[2] == value_to_find:
        print(item)

print(item)

In [ ]:
# this is -technically- a solution to the task...

In [ ]:
#when i was born (closest to)
task3[28]

In [ ]:
# when i was 15
task3[24]

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [ ]:
# Starter code...

%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [ ]:
# task 1

df_solarsystem = pd.concat(rawdata[0:8])
df_solarsystem

In [ ]:
df_solarsystem[['Day','Month','Year']] = df_solarsystem['Launch date'].str.split(' ', expand=True)
print(df_solarsystem)

In [ ]:
most_launches = df_solarsystem['Year']

In [ ]:
stat.mode(most_launches)

In [ ]:
common_month = df_solarsystem['Month']
stat.mode(common_month)

In [ ]:
#Printing a list that ranks the months from most launches to fewest launches

In [ ]:
common_month.value_counts()

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [28]:
# Write a script that combines the tables
villaindata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")
# it is registering the first 3 datasets as the infobox on top of the article
df_villains = pd.concat(villaindata[3:12])
df_villains

,Character / Team,Year Debuted,Company,Creator/s,First Appearance
0,Ultra-Humanite,1939 (June),DC,"Jerry Siegel, Joe Shuster",Action Comics (vol. 1) #13
1,Dr. Death,1939 (July),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #29
2,The Monk,1939 (September),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #31
3,The Claw,1939 (December),Lev Gleason Publications,Jack Cole,Silver Streak Comics #1
0,Hath-Set,1940 (January),DC,"Gardner Fox, Dennis Neville",Flash Comics #1
...,...,...,...,...,...
4,Bloodwork,2016 (August),DC,Brian Buccellato,The Flash #28
5,Godspeed,2016 (August),DC,"Joshua Williamson, Carmine Di Giandomenico",The Flash: Rebirth #1
6,The Hamster (Mr. Hansen),2017,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 2: Gum Luck
7,The Underhander,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!
8,The Cocodrilos,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!

In [ ]:
#rank decades in terms of how many supervillains debuted

In [36]:
#indsæt decades
decades=['1930s','1940s','1950s','1960s','1970s','1980s','1990s','2000s','2010s']
villains=pd.DataFrame()

for i,decade in enumerate(decades):
    table=villaindata[i+3]
    table['Decade']=decade
    villains=pd.concat([villains,table], ignore_index=True)

villains

,Character / Team,Year Debuted,Company,Creator/s,First Appearance,Decade
0,Ultra-Humanite,1939 (June),DC,"Jerry Siegel, Joe Shuster",Action Comics (vol. 1) #13,1930s
1,Dr. Death,1939 (July),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #29,1930s
2,The Monk,1939 (September),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #31,1930s
3,The Claw,1939 (December),Lev Gleason Publications,Jack Cole,Silver Streak Comics #1,1930s
4,Hath-Set,1940 (January),DC,"Gardner Fox, Dennis Neville",Flash Comics #1,1940s
...,...,...,...,...,...,...
631,Bloodwork,2016 (August),DC,Brian Buccellato,The Flash #28,2010s
632,Godspeed,2016 (August),DC,"Joshua Williamson, Carmine Di Giandomenico",The Flash: Rebirth #1,2010s
633,The Hamster (Mr. Hansen),2017,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 2: Gum Luck,2010s
634,The Underhander,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!,2010s
635,The Cocodrilos,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!,2010s

In [37]:
#rank them
mostdebuts=villains['Decade']
mostdebuts.value_counts()

Decade
1960s    228
1970s     97
1980s     92
1990s     84
2000s     49
1940s     47
1950s     26
2010s      9
1930s      4
Name: count, dtype: int64

In [ ]:
#rank the companies

In [45]:
bestcompany=villains['Company']
bestcompany.value_counts()

Company
DC                          338
Marvel                      264
Fawcett Comics/DC             6
Image                         5
Dark Horse                    5
Marvel/Timely                 4
Disney/Hyperion               4
Eternity                      3
Lev Gleason Publications      1
Comico                        1
Mirage                        1
Image Comics                  1
Name: count, dtype: int64

In [ ]:
#make a table with dataframes

In [48]:
Company = ['DC','Marvel','Fawcett Comics/DC','Image','Dark Horse','Marvel/Timely','Disney/Hyperion','Eternity', 'Lev Gleason Publications','Comico','Mirage','Image Comics']
Number_of_villains = ['338','264','6','5','5','4','4','3','1','1','1','1']
df_companies = pd.DataFrame(
            {'Company': Company, 
            'Number_of_villains': Number_of_villains})
df_companies

                     Company Number_of_villains
0                         DC                338
1                     Marvel                264
2          Fawcett Comics/DC                  6
3                      Image                  5
4                 Dark Horse                  5
5              Marvel/Timely                  4
6            Disney/Hyperion                  4
7                   Eternity                  3
8   Lev Gleason Publications                  1
9                     Comico                  1
10                    Mirage                  1
11              Image Comics                  1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [10]:
# Starter code 1...

df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [12]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

In [14]:
#make wide to long
# this is not right..
df_long = pd.wide_to_long(df, stubnames = ['Reading','Naming'],
                          i=['Year','Participant_id',],
                            j = 'Task', sep = '_',
                            suffix = '.+')
df_long.head

<bound method NDFrame.head of                            Reading  Naming
Year Participant_id Task
2015 0              NoInt     4.16    4.45
                    Int       4.65    6.76
     1              NoInt     4.35    4.78
                    Int       4.46    7.73
     2              NoInt     3.60    4.00
...                            ...     ...
2021 179            Int       5.16    7.52
     180            NoInt     5.16    8.19
                    Int       5.51    8.81
     181            NoInt     4.27    5.32
                    Int       4.59   10.40

[364 rows x 2 columns]>

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.