# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [2]:
hello = "hello world"
number_five = "5"

In [3]:
type(hello

str

In [9]:
#dir(hello)

In [5]:
hello.split()

['hello', 'world']

## Integers

In [7]:
myint = 78
myotherint = -23

In [10]:
#dir(myint)

## Floats

In [ ]:
myfloat = 345.67
myotherfloat = -123.456

## Lists

In [42]:
fruits = ['oranges', 'pears', 'berries', 4]
dairy = ['milk', 'ymer', 'cream']

In [19]:
fruits

['oranges', 'pears', 'berries', 4]

In [20]:
dairy

['milk', 'ymer', 'cream']

In [23]:
shopping = [fruits, dairy]
shopping

[['oranges', 'pears', 'berries', 4], ['milk', 'ymer', 'cream']]

find nr x i en liste, tror det hedder indexing, nr 1 hedder 0

In [24]:
fruits[1]

'pears'

man kan også tælle baglæns, så skal man skrive minus foran tallet

In [27]:
fruits[1]= 'bananas'

## Tuples

In [48]:
fruittuple = ("apple", "banana", "berry")
fruittuple

('apple', 'banana', 'berry')

In [49]:
fruittuple[1]

'banana'

man kan ikke ændre et item i en tuple

In [50]:
fruittuple[1] = "kiwi"

TypeError: 'tuple' object does not support item assignment

## Sets

In [43]:
fruits.append('cherries')
fruits

['oranges', 'pears', 'berries', 4, 'cherries']

set of unique items in a list, unordered - brug for eksempel hvis man har flere af samme slags og bare skall vide hvilke forskellige slags, ikke hvor mange

In [46]:
set(fruits)

{4, 'berries', 'cherries', 'oranges', 'pears'}

hvor mange forskellige:

In [47]:
len(set(fruits))

5

## Dictionaries

In [52]:
Lise = {'name':'Lise', 'age': 23,}

In [53]:
Lise['name']

'Lise'

In [54]:
Lise['age']

23

## Loops

In [55]:
for x in range(5):
    print(x)

0
1
2
3
4

In [59]:
fruits[3]= 'bananas'

In [62]:
for fruit in fruits:
    print('I love ' + fruit)

I love oranges
I love pears
I love berries
I love bananas
I love cherries

du SKAL have print ud fra venstre kant som her, ellers virker det ikke

In [66]:
f= ['i love ' + x for x in fruits]
f

['i love oranges',
 'i love pears',
 'i love berries',
 'i love bananas',
 'i love cherries']

In [68]:
for x in fruits:
    if x.startswith('c'):
        print('i love ' + x)

i love cherries

In [75]:
for x in fruits:
    if 'p' in x:
        if 'e' in x:
            print('i love ' + x)

i love pears

In [83]:
myFavFruits = []
for x in fruits:
    if 'r' in x:
        if 'e' in x:
            myFavFruits.append(x)

In [84]:
myFavFruits

['oranges', 'pears', 'berries', 'cherries']